<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749611981649-fk023ri4oac95kg0qouivf962f8mrgsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749611981649-fk023ri4oac95kg0qouivf962f8mrgsr</string>
	<key>API_KEY</key>
	<string>AIzaSyDxhw_PbH3V6mei9U4tnl-C5dOeQ5TQ_vg</string>
	<key>GCM_SENDER_ID</key>
	<string>749611981649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mondayoff.blowup</string>
	<key>PROJECT_ID</key>
	<string>blow-up-3d</string>
	<key>STORAGE_BUCKET</key>
	<string>blow-up-3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749611981649:ios:935275f0262305822d1170</string>
</dict>
</plist>